<main class="">
  <div class="container">
    <div class="card login-card">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img src="../../../../assets/images/login.jpg" alt="login" class="login-card-img">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class="brand-wrapper">
              <img src="../../../../assets/images/logo.svg" alt="logo" class="logo">
            </div>
            <p class="login-card-description">Sign into your account</p>
            <form 
 
            *ngIf="!loggedIn()" #loginForm="ngForm"  (ngSubmit)="Login()">
                       <div class="form-group">
                  <label for="email" class="sr-only">Email</label>
                  <input class="form-control" type="text" name="email" placeholder="email" required [(ngModel)]="model.username" >
                </div>
                <div class="form-group mb-4">
                  <label for="password" class="sr-only">Password</label>
                  <input class="form-control " type="password" name="password" placeholder="Password" required [(ngModel)]="model.password" >
                </div>
                <button [disabled]="!loginForm.valid" class="btn btn-success" type="submit">Login</button>
              </form>
               <p class="login-card-footer-text">Don't have an account? <a [routerLink]="['/signup']" class="text-reset">Register here</a></p>
           </div>
        </div>
      </div>
    </div>
    
  </div>
</main>