<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" [routerLink]="['/user-managment/user-list']">Parent Cloud Task</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" [routerLink]="['/user-managment/user-list']"  >User List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="autService.logout()" >Logout</a>
      </li>

    </ul>
  </div>
</nav>
